@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* light */
  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: hsl(0, 0%, 50%);
  --color-text-base: hsl(0, 0%, 0%);
}

  /* dark */
.theme-dark {
  --color-primary: rgb(33, 36, 45);
  --color-secondary: hsl(0, 3%, 25%);
  --color-text-base: hsl(0, 16%, 96%);
}
